/其他/貌似是一个动态桌面/
/web/git/30-seconds-of-code-master/
/python/github/
/web/鲜花系统/venv/
*/__pycache__s
/.idea/
/android/Hello i18n/
/android/test/
/android/crm/uni_modules/
/android/crm/.hbuilderx/
