<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404 not found</title>
</head>

<style>
    div{
        width: 100%;
        height: 500px;
        margin: 200px auto;
        text-align: center;
        line-height: 500px;
        font-size: 100px;
        font-family: '黑体';
    }
</style>

<body>
    <div>
        罢工了!!!
    </div>
</body>
</html>